{{/*
GeoIP Zones ConfigMap
Required when GeoIP backend is loaded (for LUA Records GeoDNS functions)
*/}}
{{- $needGeoipBackend := or .Values.geoip.enabled (and .Values.config.luaRecords.enabled .Values.config.luaRecords.geoipDatabaseFiles) }}
{{- if and $needGeoipBackend .Values.geoipZones.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}-geoip-zones
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: auth
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  geoip-zones.yaml: |
    # Empty GeoIP zones - zones are stored in database via LUA Records
