{{- if or (include "nacos.database.external" .) .Values.extraConfig }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nacos.fullname" . }}-application
  namespace: {{ include "nacos.namespace" . }}
  labels:
    {{- include "nacos.labels" . | nindent 4 }}
data:
  custom.properties: |
    {{- if eq .Values.database.type "mysql" }}
    #*************** MySQL Database Configuration ***************#
    spring.datasource.platform=mysql
    spring.sql.init.platform=mysql
    db.num=1
    db.url.0=jdbc:mysql://${MYSQL_SERVICE_HOST}:${MYSQL_SERVICE_PORT}/${MYSQL_SERVICE_DB_NAME}?${MYSQL_SERVICE_DB_PARAM}
    db.user.0=${MYSQL_SERVICE_USER}
    db.password.0=${MYSQL_SERVICE_PASSWORD}
    {{- else if eq .Values.database.type "postgresql" }}
    #*************** PostgreSQL Database Configuration ***************#
    spring.datasource.platform=postgresql
    spring.sql.init.platform=postgresql
    db.num=1
    db.url.0=jdbc:postgresql://${POSTGRESQL_SERVICE_HOST}:${POSTGRESQL_SERVICE_PORT}/${POSTGRESQL_SERVICE_DB_NAME}?${POSTGRESQL_SERVICE_DB_PARAM}
    db.user.0=${POSTGRESQL_SERVICE_USER}
    db.password.0=${POSTGRESQL_SERVICE_PASSWORD}
    db.pool.config.driverClassName=org.postgresql.Driver
    db.pool.config.connectionTimeout={{ .Values.database.postgresql.pool.connectionTimeout }}
    db.pool.config.validationTimeout={{ .Values.database.postgresql.pool.validationTimeout }}
    db.pool.config.maximumPoolSize={{ .Values.database.postgresql.pool.maximumPoolSize }}
    db.pool.config.minimumIdle={{ .Values.database.postgresql.pool.minimumIdle }}
    {{- end }}
    {{- if .Values.extraConfig }}

    #*************** Extra Configuration ***************#
    {{ .Values.extraConfig | nindent 4 }}
    {{- end }}
{{- end }}
