{{- if and (ne .Values.database.type "embedded") .Values.database.init.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nacos.fullname" . }}-init
  namespace: {{ include "nacos.namespace" . }}
  labels:
    {{- include "nacos.labels" . | nindent 4 }}
data:
  schema.sql: |
{{- if eq .Values.database.type "mysql" }}
{{ .Files.Get "resources/schema/mysql.sql" | nindent 4 }}
{{- else if eq .Values.database.type "postgresql" }}
{{ .Files.Get "resources/schema/pgsql.sql" | nindent 4 }}
{{- end }}
{{- end }}
